node_modules/
.cache/
public/
lmdb-lockfile
.env
.env.*
.DS_Store
*.log
*.log.*
Thumbs.db
._*
.idea/
.vscode/
*.code-workspace
coverage/
*.swp
*.swo
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*