[build]
  command = "gatsby build"
  publish = "public"

[build.environment]
  NODE_VERSION = "22"
  GATSBY_CPU_COUNT = "4"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"